In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [3]:
#import data
books = pd.read_csv('../datasets/books.csv')
books.head()

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [4]:
books.shape

(10000, 23)

In [5]:
ratings = pd.read_csv('../datasets/ratings.csv')
ratings.head()

   book_id  user_id  rating
0        1      314       5
1        1      439       3
2        1      588       5
3        1     1169       4
4        1     1185       4

In [6]:
ratings['rating'].unique()

array([5, 3, 4, 1, 2], dtype=int64)

In [9]:
tags = pd.read_csv('../datasets/book_tags.csv')
tags.head()

   goodreads_book_id  tag_id   count
0                  1   30574  167697
1                  1   11305   37174
2                  1   11557   34173
3                  1    8717   12986
4                  1   33114   12716

In [11]:
btags = pd.read_csv('../datasets/tags.csv')
btags.tail()

       tag_id    tag_name
34247   34247   Ｃhildrens
34248   34248   Ｆａｖｏｒｉｔｅｓ
34249   34249       Ｍａｎｇａ
34250   34250      ＳＥＲＩＥＳ
34251   34251  ｆａｖｏｕｒｉｔｅｓ

In [14]:
# data preprocessing

ratings = ratings.sort_values('user_id')
ratings.shape

(981756, 3)

In [15]:
ratings.drop_duplicates(subset=['book_id' , 'user_id'] , keep=False, inplace=True)
ratings.shape

(977269, 3)

In [16]:
print(books.shape)
books.drop_duplicates(subset=['original_title'] , keep=False, inplace=True)
books.shape

(10000, 23)

(9151, 23)

In [17]:
print(btags.shape)
btags.drop_duplicates(subset=['tag_id'] , keep=False, inplace=True)
btags.shape

(34252, 2)

(34252, 2)

In [19]:
print(tags.shape)
tags.drop_duplicates(subset=['tag_id', 'goodreads_book_id'] , keep=False, inplace=True)
tags.shape

(999912, 3)

(999896, 3)

In [21]:
#Data visualization
jonit_tags = pd.merge(tags, btags , left_on='tag_id' , right_on='tag_id', how='inner')

In [24]:
# Top 10 rated books
top_rated = books.sort_values('average_rating', ascending=False)
top10 = top_rated.head(10)
top10
display = top10[['title', 'small_image_url']]
display.set_index('title', inplace=True)

In [30]:
from IPython.display import Image , HTML

def path_to_image_html(path):
    return f'<img src="{path}" />'
HTML(display.to_html(escape=False , formatters={'small_image_url':path_to_image_html}))

#### Contents Based Filtering Recommand System

In [32]:
fillnabooks = books.fillna('')

In [34]:
fillednabooks=fillnabooks[['original_title', 'authors', 'average_rating']]
fillednabooks.head()

,original_title,authors,average_rating
0,The Hunger Games,Suzanne Collins,4.34
1,Harry Potter and the Philosopher's Stone,"J.K. Rowling, Mary GrandPré",4.44
3,To Kill a Mockingbird,Harper Lee,4.25
4,The Great Gatsby,F. Scott Fitzgerald,3.89
5,The Fault in Our Stars,John Green,4.26

In [35]:
def clean_data(x):
    return str.lower(x.replace(" " , ""))

In [36]:
fillednabooks.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9151 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   original_title  9151 non-null   object
 1   authors         9151 non-null   object
 2   average_rating  9151 non-null   float64
dtypes: float64(1), object(2)
memory usage: 286.0+ KB

In [37]:
fillednabooks = fillednabooks.astype(str)
fillednabooks.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9151 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   original_title  9151 non-null   object
 1   authors         9151 non-null   object
 2   average_rating  9151 non-null   object
dtypes: object(3)
memory usage: 286.0+ KB

In [40]:
fillednabooks['original_title'] = fillednabooks['original_title'].apply(clean_data)
fillednabooks['authors'] = fillednabooks['authors'].apply(clean_data)
fillednabooks['average_rating'] = fillednabooks['average_rating'].apply(clean_data)

In [41]:
fillednabooks.head()

,original_title,authors,average_rating
0,thehungergames,suzannecollins,4.34
1,harrypotterandthephilosopher'sstone,"j.k.rowling,marygrandpré",4.44
3,tokillamockingbird,harperlee,4.25
4,thegreatgatsby,f.scottfitzgerald,3.89
5,thefaultinourstars,johngreen,4.26

In [42]:
def create_soup(x):
    return x['original_title'] + ' ' +  x['authors'] + ' ' + x['average_rating']

In [44]:
fillednabooks['soup'] = fillednabooks.apply(create_soup , axis=1)

In [45]:
fillednabooks.head()

,original_title,authors,average_rating,soup
0,thehungergames,suzannecollins,4.34,thehungergames suzannecollins 4.34
1,harrypotterandthephilosopher'sstone,"j.k.rowling,marygrandpré",4.44,harrypotterandthephilosopher'sstone j.k.rowlin...
3,tokillamockingbird,harperlee,4.25,tokillamockingbird harperlee 4.25
4,thegreatgatsby,f.scottfitzgerald,3.89,thegreatgatsby f.scottfitzgerald 3.89
5,thefaultinourstars,johngreen,4.26,thefaultinourstars johngreen 4.26

In [46]:
from sklearn.feature_extraction.text import CountVectorizer , TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(fillednabooks['soup'])
count_matrix

<9151x17302 sparse matrix of type '<class 'numpy.int64'>'
	with 33809 stored elements in Compressed Sparse Row format>

In [47]:
cosine_sim  = cosine_similarity(count_matrix)

In [59]:
cosine_sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [51]:
set(cosine_sim[0])

{0.0,
 0.16012815380508716,
 0.1666666666666667,
 0.2041241452319315,
 0.2357022603955159,
 0.25819888974716115,
 0.2886751345948129,
 0.3333333333333334,
 0.408248290463863,
 1.0000000000000002}

In [56]:
fillnabooks=fillnabooks.reset_index()

In [57]:
indices = pd.Series(fillnabooks.index , index=fillnabooks.original_title)

In [58]:
indices.head()

original_title
The Hunger Games                            0
Harry Potter and the Philosopher's Stone    1
To Kill a Mockingbird                       2
The Great Gatsby                            3
The Fault in Our Stars                      4
dtype: int64

In [72]:
def get_recommandations(title , cosine_sim = cosine_sim):
    # title = str.lower(title.replace(" " , ""))
    idx = indices[title]
    result = list(enumerate(cosine_sim[idx]))
    result = sorted(result, key=lambda x: x[1] , reverse=True)
    # print(result)
    result = result[1:11]
    # print(result)
    book_indicies = [i[0] for i in result]
    # print(book_indicies)
    return books['original_title'].iloc[book_indicies]

In [73]:
result = get_recommandations('The Fault in Our Stars')
print(result)

10                                  The Kite Runner
73                                Looking for Alaska
87                                       Paper Towns
274                       An Abundance of Katherines
408    Fried Green Tomatoes at the Whistle Stop Cafe
439                                   Fall of Giants
672                                       Americanah
722                                        Shantaram
748                                  The Storyteller
857                                       Red Rising
Name: original_title, dtype: object

In [75]:
books.describe()

,id,book_id,best_book_id,work_id,books_count,isbn13,original_publication_year,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5
count,9151.000000,9.151000e+03,9.151000e+03,9.151000e+03,9151.000000,8.711000e+03,9145.000000,9151.000000,9.151000e+03,9.151000e+03,9151.000000,9151.000000,9151.000000,9151.000000,9.151000e+03,9.151000e+03
mean,4909.648891,4.869336e+06,5.078243e+06,7.977119e+06,78.362474,9.756300e+12,1981.138218,3.999263,5.537463e+04,6.122016e+04,2986.376024,1337.893017,3168.733909,11784.247077,2.055987e+04,2.436941e+04
std,2884.017088,7.339193e+06,7.607401e+06,1.128290e+07,171.877505,4.331086e+11,154.608318,0.252293,1.576800e+05,1.686121e+05,6194.711899,4978.452293,8954.819986,28259.079754,5.233150e+04,8.139372e+04
min,1.000000,1.000000e+00,1.000000e+00,8.700000e+01,1.000000,1.951703e+08,-1750.000000,2.470000,2.716000e+03,5.510000e+03,3.000000,11.000000,30.000000,323.000000,7.500000e+02,7.540000e+02
25%,2401.500000,4.329000e+04,4.391150e+04,9.795275e+05,25.000000,9.780316e+12,1989.000000,3.850000,1.369100e+04,1.556100e+04,698.000000,197.000000,667.000000,3165.500000,5.480000e+03,5.357500e+03
50%,4864.000000,3.307600e+05,3.499290e+05,2.516519e+06,42.000000,9.780451e+12,2004.000000,4.020000,2.166200e+04,2.432400e+04,1413.000000,397.000000,1192.000000,5043.000000,8.534000e+03,8.939000e+03
75%,7396.500000,8.069682e+06,8.448476e+06,1.314362e+07,69.000000,9.780813e+12,2010.000000,4.170000,4.251100e+04,4.777500e+04,2852.500000,915.500000,2454.000000,9639.000000,1.680250e+04,1.778350e+04
max,10000.000000,3.328864e+07,3.553423e+07,5.639960e+07,3455.000000,9.790008e+12,2017.000000,4.820000,4.780653e+06,4.942365e+06,155254.000000,165455.000000,197621.000000,606158.000000,1.481305e+06,3.011543e+06

In [76]:
C = books['average_rating'].mean()

In [78]:
# 투표횟수 중 60%이상의 횟수에 달하는 숫자
# 예를들어 총 투표횟수가 100과 1일때 m값은 매우 달라진다.
m = books['ratings_count'].quantile(0.6)

def weighted_vote_average(record):
    v = record['ratings_count']
    R = record['average_rating']
    
    return ( (v/(v+m)) * R) + ( (m/(m+v)) * C)
    
books['weighted_vote'] = books.apply(weighted_vote_average, axis=1)

In [79]:
books.head()

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,weighted_vote
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,4.338089
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...,4.437432
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...,4.247904
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...,3.891087
5,6,11870085,11870085,16827462,226,525478817,9.780525e+12,John Green,2012.0,The Fault in Our Stars,...,2478609,140739,47994,92723,327550,698471,1311871,https://images.gr-assets.com/books/1360206420m...,https://images.gr-assets.com/books/1360206420s...,4.257037

In [88]:
def get_recommandations(title , cosine_sim = cosine_sim):
    # title = str.lower(title.replace(" " , ""))
    idx = indices[title]
    result = list(enumerate(cosine_sim[idx]))
    result = sorted(result, key=lambda x: x[1] , reverse=True)
    # print(result)
    result = result[1:21]
    # print(result)
    book_indicies = [i[0] for i in result]
    # print(book_indicies) df.iloc[similar_idx].sort_values(by=['weighted_vote'], ascending=False)[:top_n]
    # print(type(books.iloc[book_indicies]))
    # return books['original_title'].iloc[book_indicies]
    return books.iloc[book_indicies].sort_values(by=['weighted_vote'], ascending=False)[:10]['original_title']

In [89]:
result = get_recommandations('The Fault in Our Stars')
print(result)

10                                   The Kite Runner
408     Fried Green Tomatoes at the Whistle Stop Cafe
439                                    Fall of Giants
937                                 The Edge of Never
672                                        Americanah
748                                   The Storyteller
857                                        Red Rising
863                                   The Fiery Cross
722                                         Shantaram
1504                                The Darkest Minds
Name: original_title, dtype: object

In [ ]:
C = movies_df['vote_average'].mean()

# 투표횟수 중 60%이상의 횟수에 달하는 숫자
# 예를들어 총 투표횟수가 100과 1일때 m값은 매우 달라진다.
m = movies_df['vote_count'].quantile(0.6)

def weighted_vote_average(record):
    v = record['vote_count']
    R = record['vote_average']
    
    return ( (v/(v+m)) * R) + ( (m/(m+v)) * C)
    
movies_df['weighted_vote'] = movies_df.apply(weighted_vote_average, axis=1)
 
# 가중 평점 변수를 추가해서 유사한 영화 찾아주는 함수 재정의
def find_sim_movie(df, sorted_idx, title_name, top_n=10):
    title_movie = df[df['title'] == title_name]
    title_idx = title_movie.index.values
    
    similar_idx = sorted_idx[title_idx, :(top_n*2)]
    similar_idx = similar_idx.reshape(-1,)
    
    #자기 자신 영화 제외, boolean index기법 사용!
    similar_idx = similar_idx[similar_idx != title_idx]
    return df.iloc[similar_idx].sort_values(by=['weighted_vote'], ascending=False)[:top_n]

similar_movies = find_sim_movie(movies_df, genre_sim_idx,
                               'The Avengers')
print(similar_movies[['title','vote_average','weighted_vote']])